/*********************************************

Here is a description of any special CSS used.
In this case it's just background color and changes
to the text

**********************************************/

body {
  background-color: #FFEB95;
  font-size: 50px;
  color: blue;
  size: 100px;
}
